@page 
@model ExcelRead.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Log in";
}

<div class="text-center">
    <h1 class="display-4">Log in</h1>
    <p>Use your credentials to log in.</p>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label for="Input_Username">Username</label>
                <input asp-for="Login.UserName" class="form-control" id="Input_Username" required />
            </div>

            <div class="form-group">
                <label for="Input_Password">Password</label>
                <input asp-for="Login.Password" type="password" class="form-control" id="Input_Password" required />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="mt-3">
            <p>
                <a asp-page="./RegisterUser">Register</a> if you don't have an account.
            </p>
        </div>
    </div>
</div>